.button-wrapper {
  user-select: none;
  cursor: pointer;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #e0e1e6;
  color: #888;
  flex: 1;
  outline: 1px solid #888;
}

.operator {
  background-color: #fe9241;
  color: white;
}

.input {
  height: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 1.4em;
  background-color: #000000;
  color: #fafafa;
  padding: 0.5em;
  outline: 1px solid #888888;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.alert-div {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}

.refresh-btn {
  width: 10em;
  height: 3em;
  outline: none;
  background-color: cornflowerblue;
  font-weight: 500;
  color: whitesmoke;
  cursor: pointer;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calc-wrapper {
  width: 500px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  border: 10px ridge #878786;
}

.row {
  display: flex;
  width: 100%;
}

h1 {
  color: #878786;
  font-size: 35px;
}

h6 {
  font-size: 12px;
}

.equal-btn {
  user-select: none;
  cursor: pointer;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #c5c3cd;
  color: #000000;
  flex: 1;
  outline: 1px solid #888888;
}
